/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* My code starts here! */

:root {
	font-size: 18px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

@media (max-width: 800px) {
	.container {
		max-width: 800px;
		margin: 0 auto;
	}
}

@media (max-width: 500px) {
	.container {
		max-width: 500px;
		margin: 0 auto;
	}
}

.header-section {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 800px) {
	.header-section {
		margin-top: 2rem;
		display: flex;
		flex-direction: column-reverse;
	}
}

.navigation a {
	padding-top: 2rem;
	text-decoration: none;
	color:rgb(141, 141, 141) ;
	margin-right: 5.5rem;
}


@media (max-width: 800px) {
	.navigation{
		margin-top: 2rem; 
	}
}

@media (max-width: 800px) {
	.navigation a {
		text-decoration: none;
		color:rgb(141, 141, 141) ;
		margin: 1.9rem;
		}
}

@media (max-width: 500px) {
	.navigation {
	   display: flex;
	   flex-direction: column;
	   margin-top: 1rem;
	   width: 100%;
	   border-bottom: 1px solid darkgray;
	}
}

@media (max-width: 500px) {
	.navigation a {
		padding: 1rem;
		margin: 0rem;
		/* border-bottom: 1px solid darkgray; */
		text-decoration: none;
		color:rgb(141, 141, 141) ;
		text-align: center;
		border-top: 1px solid darkgray;
		}
}

.bottom-header-section {
	display: flex;
	margin-top: 3rem;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.05rem solid black;
}
@media (max-width: 800px) {
	.bottom-header-section {
		margin-left: 1rem;
		margin-right: 1rem;
		display: flex;
		margin-top: 3rem;
		align-items: center;
		justify-content: space-between;
		border-bottom: 0.05rem solid black;
	}
}


.main-heading {
	width: 25rem;
	text-align: center;
	margin-left: 20%;
}

@media (max-width: 800px) {
	.main-heading {
		width: 25rem;
		text-align: center;
		margin-left: 20%;
		margin-bottom: 3rem;
	}
}

@media (max-width: 500px){
	.main-heading {
		width: 100%;
		text-align: center;
		margin-bottom: 3rem;
		margin-right:  20%;
	}
}

/* @media (max-width: 500px){
	.bottom-header-section{
		width: 100%;
	} */

.main-heading h1 {
font-size: 5rem;
}
@media (max-width: 800px) {
.main-heading h1 {
	font-size: 3rem;
	}
}

.main-heading a {
	width: 70%;
	text-decoration: none;
	color: black;
	border: 0.05rem solid black;
	padding-left: 1.75rem;
	padding-right: 1.75rem;
	margin-bottom: 2.5rem;
}

.header-img {
	width: 22rem;
	margin-bottom: 2.5rem;
	margin-left: 8rem;
}

.header-img img {
	max-width: 100%;
}

@media (max-width: 800px) {
	.header-img{
		display: none;
	}
}

.upper-main-section {
	margin-top: 2.5rem;
	display: flex;
	margin-bottom: 2.5rem;
}

@media (max-width: 500px) {
	.upper-main-section {
		margin-top: 2.5rem;
		display: flex;
		flex-direction: column;
		margin-bottom: 2.5rem;
	}
}

.upper-left-section {
	margin-right: 1rem;
}

@media (max-width: 800px) {
	.upper-left-section {
		margin-left: 1rem;
	}
}

@media (max-width: 500px) {
	.upper-left-section {
		margin-left: 1rem;
		margin-bottom: 2rem;
	}
}
@media (max-width: 800px) {
	.upper-right-section {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}


.middle-img {
	width: 100%;
}

@media (max-width: 800px) {
	.middle-img {
		margin-left: 1rem;
		width: 95%;
	}
}	

@media (max-width: 500px) {
	.middle-img {
		margin-left: 1rem;
		margin-right: 1rem;
		max-width: 90%;
	}
}	

.lower-main-section {
	display: flex;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	border-bottom: 0.05rem solid black;
}

@media (max-width: 800px) {
	.lower-main-section {
		display: flex;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
		border-bottom: 0.05rem solid black;
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media (max-width: 500px) {
	.lower-main-section {
		display: flex;
		flex-direction: column;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
		border-bottom: 0.05rem solid black;
		margin-left: 1rem;
	}
}

.lower-left-section {
	margin-right: 1rem;
	margin-bottom: 2rem;
}

@media (max-width: 800px) {
	.lower-left-section {
		margin-bottom: 2rem;
		margin-right: 1rem;
	}
}
.lower-mid-section {
	margin-right: 1rem;
}

@media (max-width: 800px) {
	.lower-right-section {
		margin-bottom: 2rem;
	}
}

.contact {
	margin-bottom: 2.5rem;
}
@media (max-width: 800px){
	.contact {
	margin-left: 1rem;	
		margin-bottom: 2.5rem;
	}
}

footer {
	text-align: center;
	margin-bottom: 2rem;
}
